<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{meta.title ?: page_title}}</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,noarchive,nofollow" />
    <meta property="og:url" content="{{meta.og_url}}" />
    <meta property="og:type" content="{{meta.og_type}}" />
    <meta property="og:title" content="{{meta.og_title}}" />
    <meta property="og:description" content="{{meta.og_description}}" />
    <meta property="og:image" content="{{meta.og_image|default("https://cdn.sanity.io/images/9e74j303/development/4e2d5853f760d7ebf398c3cf998633f0c6d2df43-2121x1161.png?h=500&auto=format")}}" />
    <link rel="preconnect" href="//fonts.googleapis.com">
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
    <link href="//fonts.googleapis.com/css2?family=Neuton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v=2" />
    <link rel="stylesheet" type="text/css" href="/assets/css/hex.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/tokyo-night-dark.min.css">
    {% if page == 'about' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    {% endif %}
</head>
{% if theme %}
<body {{ "%s%s" | format("data-theme=", theme)}}>
{% else %}
<body>
{% endif %}
<nav>
    <div class="container">
        <div class="logo" style="">
            <a href="/" title="sinfullycoded.com"><img src="/assets/images/logo-main.png" alt="sinfully coded logo"/></a>
        </div>
        <div class="nav-left">
        <ul id="nav">
            <li {% if page == 'index' %} class="active" {% endif %}><a href="/">Home</a></li>
            <li {% if page == 'about' %} class="active" {% endif %}><a href="/about">About</a></li>
            <li {% if page == 'projects' %} class="active" {% endif %}><a href="/projects">Projects</a></li>
            <li {% if page == 'blog' %} class="active" {% endif %}><a href="/blog">Blog</a></li>
        </ul>
        <input id="theme-switcher" type="checkbox" title="Switch to dark theme"/>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<footer>
    <div class="container">
        <p>
            © 2022 Sinfully Coded. All rights reserved
        </p>
        <p class="links">
            <a target="_blank" href="https://m.do.co/c/07590f95adbe"> Hosted on <img src="/assets/images/do-logo.png" alt="Digital Ocean" /></a>
        </p>
    </div>
</footer>
{% if page == 'about' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    {% endif %}
<script type="module">import {themeManager} from "/assets/js/main.js";document.addEventListener("DOMContentLoaded", function () {themeManager()})</script>
</body>
</html>