{% extends 'layout.twig' %}
{% block content %}
<section>
   <div class="container">
      <h1 class="main">Blog</h1>
      <div class="blog-grid">
      {% if posts|length > 0 %}
      {% for post in posts %}
      <div>
         <span class="cat">
            <a href="/blog/categories/{{post.metadata.category.slug}}">{{ post.metadata.category.title }}</a>
         </span>
         <p>{{ post.published }} • {{ post.readingTime }}</p>
         {% if post.thumbnail %}
         <p class="mainimage"><a href="/blog/{{post.metadata.category.slug}}/{{post.slug}}"><img class="main-image" src="{{ post.thumbnail }}?w=350&auto=format" alt="{{post.title}}"></a></p>
         {% endif %}
         <h3><a href="/blog/{{post.metadata.category.slug}}/{{post.slug}}"><b>{{post.title}}</b></a></h3>
         <p>{{post.content}}</p>
          {% if post.metadata.tags %}
          <p class="tags">
            {% for tag in post.metadata.tags %}
            <span class="tag"><a href="/blog/tags/{{tag.slug}}">{{ "%s%s" | format("#", tag.title) }}</a></span>
            {% endfor %}
         </p>
            {% endif %}
            <p><a href="/blog/{{post.metadata.category.slug}}/{{post.slug}}">READ</a></p>
      </div>
      {% endfor %}
      {% else %}
      <p>Error retrieving posts </p>
      {% endif %}
      </div>
   </div>
</section>
{% endblock %}