{% extends 'layout.twig' %}
{% block content %}
	<section class="top-margin-large">
		<div class="container medium">
			<div class="post-grid">
				<div class="post-container">
					{# breadcrumb menu #}
					<span class="breadcrumb">
						<ul>
							{% for segment in path %}
								{% if segment.name == post.slug %}
									<li>
										{{ post.title }}
									</li>
								{% else %}
									<li>
										<a href="/{{ segment.path }}">{{ segment.name}}</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</span>
					{# Post Container #}
					<div class="sp">
						<div class="post-head">
							<span class="cat">{{ post.metadata.category.title }}</span>
							<h1 class="post-title">{{post.title}}</h1>
							<p class="meta">
								<span>
									{{post.published}} • {{ post.readingTime }} • 
									{% if post.metadata.tags %}
										{% for tag in post.metadata.tags %}<span class="tag"><a href="/blog/tags/{{ tag.slug }}">{{ "%s%s" | format("#", tag.title) }}</a></span>{% endfor %}
									{% endif %}
								</span>
								<span class="share">
									<span>Share:</span>
									{% set postTitle = post.title|url_encode %}
									{% set postCat = post.metadata.category.title|lower %}
									<a target="_blank" aria-label="Share this post on Twitter" href="{{ "%s%s%s%s%s%s%s" | format("https://twitter.com/intent/tweet?text=", postTitle, "&url=sinfullycoded.com/", postCat, "/", post.slug, "&via=mostdefkima3ff&original_referer=https%3A%2F%2Fsinfullycoded.com") }}">
										<i class="icon-twitter"></i>
									</a>
								</span>
							</p>
						</div>
						{# mobile table of contents #}
						<details class="mtoc">
							<summary>Table of contents</summary>
							<ul>
								{% for t in toc %}
									<li>
										<a href="#{{t.anchor}}">{{t.title}}</a>
									</li>
								{% endfor %}
							</ul>
						</details>
						<div class="structured-markup">{{ body }}</div>
						<p>
							<em>Last updated:
								{{post.updated}}</em>
						</p>
					</div>
					{#% include 'comment-container.twig' %#}
					</div>
					<div class="toc">
						{% if toc %}
							<h5>Table of contents</h5>
							<ul>
								{% for t in toc %}
									<li>
										<a href="#{{t.anchor}}">{{t.title}}</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
