{% extends 'layout.twig' %}
{% block content %}
<section class="top-margin-large">
   <div class="container medium">
      <div class="post-grid">
         <div class="post-container">
            <span class="breadcrumb">
               <ul>
                  {% for segment in path %}
                  {% if segment.name == post.slug %}
                  <li>
                     {{ post.title }}
                  </li>
                  {% else %}
                  <li>
                     <a href="/{{ segment.path }}">{{ segment.name}}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
               </ul>
            </span>
            <div class="sp">
               <div class="post-head">
                  <span class="cat">{{ post.category }}</span>
                  <h2 class="post-title">{{post.title}}</h2>
                  <p class="meta">
                     <span>
                     {{post.published}} • {{ post.readingTime }} • 
                     {% if post.tags %}{% for tag in post.tags %}<span class="tag"><a href="/blog/tags/{{ tag }}">{{ "%s%s" | format("#", tag) }}</a></span>{% endfor %}{% endif %}
                     </span>
                     <span class="share">
                     <span>Share:</span>
                     <a target="_blank" aria-label="Share this post on Twitter" href="{{ "%s%s%s%s%s%s%s" | format("https://twitter.com/intent/tweet?text=", post.title, "&url=https://sinfullycoded.com/", post.category, "/", post.slug, "&via=mostdefkima3ff&original_referer=https%3A%2F%2Fsinfullycoded.com&hashtags=php,composer") }}">
                     <i class="icon-twitter"></i>
                     </a>
                     </span>
                  </p>
               </div>
                  <details class="mtoc">
                     <summary>Table of contents</summary>
                     <ul>
                        {% for t in toc %}
                        <li><a href="#{{t.anchor}}">{{t.title}}</a></li>
                        {% endfor %}
                     </ul>
                  </details>
               <div class="structured-markup">{{ body }}</div>
               <p><em>Last updated: {{post.updated}}</em></p>
            </div>
            <div class="comments">
               <h2>
                  <span><i class="uil uil-comment"></i> Comments ({{ post.comments|length }})</span>
                  {% if post.comments|length > 0 %}
                  <button id="add-comment" class="primary hide">Add comment</button>
                  {% else %}
                  <button id="add-comment" class="primary">Add comment</button>
                  {% endif %}
               </h2>
               {% if post.comments|length > 0 %}
               <div class="comment-form-holder">
               {% else %}
               <div class="comment-form-holder show">
               {% endif %}
               {% include 'comment-form.twig' %}
               </div>
               {% if post.comments %}
               <div class="comment-holder">
                  <ul class="comment-items">
                  {% for comment in post.comments %}
                     <li data-comment-id="{{comment._id}}">
                        {% if comment.avatar %}
                        <span class="avatar"><img src="{{comment.avatar}}" alt="{{comment.twitter_handle}}"/></span>
                        {% endif %}
                        <div>
                        <span class="comment-head">
                           <a href="{{ "%s%s" |format("https://twitter.com/", comment.twitter_handle) }}" data-commenter-id={{comment.commenter_id}}>{{"%s%s" |format("@", comment.twitter_handle)}}</a> said
                        </span>
                        <p>{{comment.comment}}</p>
                        <p class="meta">{{comment._createdAt}}</p>
                        </div>
                     </li>
                  {% endfor %}
                  </ul>
               </div>
               {% endif %}
            </div>
         </div>
         <div class="toc">
            {% if toc %}
            <h5>Table of contents</h5>
            <ul>
               {% for t in toc %}
               <li><a href="#{{t.anchor}}">{{t.title}}</a></li>
               {% endfor %}
            </ul>
            {% endif %}
         </div>
      </div>
   </div>
</section>
<script type="module">
import { tableOfContentsObserver, addListenersOnCommentForm } from "/assets/js/main.js";
document.addEventListener("DOMContentLoaded", function () {
   tableOfContentsObserver()
   addListenersOnCommentForm()
})
</script>
{% endblock %}