{% extends 'layout.twig' %}
{% block content %}
<section>
    <div class="container"> 
    <h1 class="main">Projects</h1>
    <div class="projects-list">
    {% for project in projects %}
        <div>
            <img class="pj-img" src="{{ "%s%s" | format(project.image, "?h=500&auto=format") }}" alt="{{project.title}}">
            <div class="pj-desc">
            <h3><a href="/projects/{{project.slug.current}}"><b>{{project.title}}</b></a></h3>
            <p>{{project.summary}}</p>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
</section>
{% endblock %}