{% extends 'layout.twig' %}
{% block content %}
<section>
    <div class="container"> 
    <h1 class="main">Projects</h1>
    <p class="note"><strong>Note:</strong> This page is still a work in progress. Project stories, descriptions & links coming soon</p>
    </div>
    <div class="fw">
    <div class="projects-list">
    {% for project in projects %}
        <div>
            <img class="pj-img" src="{{ "%s%s" | format(project.image, "?h=500&auto=format") }}" alt="{{project.title}}">
            <div class="pj-desc">
            <h3><b>{{project.title}}</b></h3>
            {# <h3><a href="/projects/{{project.slug.current}}"><b>{{project.title}}</b></a></h3> #}
            <p>{{project.summary}}</p>
            <span class="cat">{{project.status}}</span>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
</section>
{% endblock %}